[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-cors = "*"
werkzeug = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
psycopg2 = "*"
psycopg2-binary = "*"
gunicorn = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
environs = "*"
wtforms = "*"

[requires]
python_version = "3.8"
