.warning-banner {
    width: 100vw;
    height: 50px;
    /* background-color: rgb(211, 129, 108); */
    background: linear-gradient(to right, red, rgb(224, 215, 79));
    background-size: 150% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.covid-text {
    text-decoration: none;
    color: white;
}

.covid-text:hover {
    color: white;
}