.covid {
    width: 100vw;
    height: 65vh;
}

.text-wrapper {
    padding: 30px;
}

.para {
    margin: 20px 0 60px 0;
}

.covid-title {
    text-transform: capitalize;
    text-align: center;
    margin: 40px 0;
}