form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    align-content: flex-start;
}

.signup-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 39px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: 2px 2px 39px 0px rgba(0,0,0,0.29);
    box-shadow: 2px 2px 39px 0px rgba(0,0,0,0.29);
    margin-top: 50px;
    padding: 20px;
}

[type="password"] {
    border-radius: 10px;
    border: solid 2px gainsboro;
    padding: 5px;
}

[type="submit"] {
    border-radius: 10px;
    border: none;
    width: 100px;
    margin: 0 auto;
    color: white;
    /* background-color: rgb(159, 209, 209); */
    background: linear-gradient(to right, red, rgb(224, 215, 79));
    background-size: 150% auto;
    margin-bottom: 10px;
}

[type="submit"]:hover {
    cursor: pointer;
}

label {
    font-weight: bold;
}